root {
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: AliceBlue;
  color: rgb(40, 40, 40);
}

h1 {
  color: rgb(40, 40, 40);
  margin-top: 20%;
  font-size: 1.5em;
  font-weight: 400;
}

h1,
ul {
  text-align: center;
}

li {
  color: rgb(40, 40, 40);
  list-style: none;
}

.nav-link {
  float: right;
}
